$border-color: rgba(0, 0, 0, 0.12);
$transaction-font-size: 1.3rem;
$transaction-font-weight: 700;

.transaction-date-item {
	border-top: 1px solid $border-color;

	.MuiListItemAvatar-root {
		position: absolute;
		top: -20px;
		padding-right: 2rem;
		background: $content-bg;
	}

	.transaction-date {
		position: absolute;
		padding-right: 1.2rem;
		background: $content-bg;
		top: -20px;
		left: 65px;

		span {
			font-weight: $transaction-font-weight;
    		font-size: $transaction-font-size;
		}
	}

	.MuiListItemSecondaryAction-root {

		position: absolute;
		top: 0;
		right: 0;
		padding-left: 2rem;
		background: $content-bg;

		span {
			font-size: $transaction-font-size;
    		font-weight: $transaction-font-weight;
		}

	}
}

.transaction-item {

	.MuiGrid-container {
		display: flex;
		align-items: center;
		padding: 1rem 0 3rem;
	}

	.transaction-item-amount {

		strong {
			font-weight: $transaction-font-weight;
    		font-size: $transaction-font-size;
			// color: red;
		}
	}

	.transaction-item-category {


		.MuiTypography-root.MuiTypography-subtitle1 {
			font-weight: $transaction-font-weight;
    		font-size: $transaction-font-size;
		}

		.MuiTypography-root.MuiTypography-subtitle2 {
			font-style: italic;
			font-weight: normal;
		}
	}

	.transaction-item-notes {

		table tr {

			td.transaction-item-notes-label {
				font-weight: $transaction-font-weight;
			}

			td.transaction-item-notes-text {
				padding: 0 4rem;
    			font-size: 0.9rem;
			}
		}
	}
}

