$content-bg: rgb(240, 242, 245);

html {
  min-height: 100%;
  height: auto;
  background-color: $content-bg;
}

body, #root {
  height: 100vh;
  background-color: $content-bg;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './layout/Content/BudgetProgress/BudgetProgress.scss';
@import './components/TransactionPreview/TransactionPreview.scss';
@import './components/TransactionList/TransactionList.scss';